:root {
    --primary: #fd8712 !important;
    --primary-color-light: ffc600 !important;
    --secondary-color: #878787 !important;
    --secondary-color-light: #9a9a9a !important;
    --black: #000000;
    --white: #ffffff;
    --white-dark: #f4f4f4;
}

@font-face {
    font-family: Poppins-light;
    src: url('../font/Poppins-Light.ttf');
}

@font-face {
    font-family: Poppins-medium;
    src: url('../font/Poppins-Medium.ttf');
}

@font-face {
    font-family: Poppins-semibold;
    src: url('../font/Poppins-SemiBold.ttf');
}

body {
    font-family: Poppins-medium !important;
}

h1,
h2,
h3,
h4,
h5,
h5 {
    font-family: Poppins-medium !important;
}

h1 {
    font-size: 48px !important;
}

/* Navbar */

#navbar {
    padding-top: 30px;
    padding-bottom: 50px;
}

#navbar .navbar-brand {
    font-size: 24px;
}

#navbar .navbar-brand.active {
    color: var(--primary);
}

#navbar .nav-link,
.navbar-brand {
    color: var(--black);
}

#navbar .nav-link:hover {
    color: var(--primary);
}

#navbar .nav-link.active {
    color: var(--primary);
}

#navbar .nav-link.auth {
    padding: unset;
}

/* Breadcrumb */

#breadcrumb .breadcrumb-wrapper {
    background-color: rgb(253, 135, 18, 0.10);
    padding: 12px 0;
    border-radius: 18px;
    width: 100%;
    max-width: 320px;
}

#breadcrumb .breadcrumb-item {
    list-style: none;
    color: var(--primary);
}

#breadcrumb .breadcrumb-item.disabled {
    list-style: none;
    color: var(--secondary-color-light);
}

#breadcrumb .breadcrumb-item::before {
    padding-right: 9px;
}


/* Detail Photos */

#detail-pages {
    margin-top: 60px;
}

#detail-pages .detail-photos-wrapper {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#detail-pages .detail-photos-huge {
    max-width: 635px;
    border-top-left-radius: 32px;
    border-bottom-left-radius: 32px;
}

#detail-pages .detail-photos-overview {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}

#detail-pages .detail-photos-overview .img-fluid {
    height: 100% !important;
}

#detail-pages .detail-photos-wrapper img {
    object-fit: cover;
    object-position: center;
}

#detail-pages .detail-content {
    margin-top: 48px;
}

#detail-pages .detail-content h1 {
    font-weight: 600;
}

#detail-pages .detail-content-location path {
    fill: var(--secondary-color);
}

#detail-pages .detail-content-location span {
    font-size: 18px;
    font-weight: 600;
    font-family: Poppins-light;
}

#detail-pages .detail-content-right span {
    font-size: 18px;
}

#detail-pages .detail-content-bottom {
    margin-top: 85px;
}

/* Description & Facility */

#detail-pages .detail-content-description 
.detail-content-title {
    font-size: 18px;
}

#detail-pages .detail-content-description 
.detail-content-subtitle {
    font-size: 16px;
    max-width: 575px;
    color: var(--secondary-color);
}

#detail-pages .detail-content-description
.detail-content-more {
    color: var(--primary);
    cursor: pointer;
}

#detail-pages .detail-facility-wrapper li {
    color: var(--secondary-color);
    padding-left: unset !important;
    font-size: 16px;
}

#detail-pages .detail-facility-wrapper li::marker {
    color: var(--black) !important;
}

/* Detail Plan */

#detail-pages .detail-plan {
    margin-top: 72px;
}

#detail-pages .detail-plan span {
    font-size: 18px;
}



/* Footer */

#footer {
    margin-top: 125px;
    background-color: var(--white-dark);
}

#footer .footer-wrapper {
    padding: 32px;
}

#footer span {
    font-size: 36px;
    font-family: Poppins-semibold !important;
}

#footer .footer-title.active {
    color: var(--primary);
}

#footer .footer-item-wrapper ul {
    padding-left: unset !important;
    list-style: none;
    color: var(--secondary-color-light);
    font-family: Poppins-semibold;
}

#footer .footer-item-social path {
    fill: var(--secondary-color);
}

#footer .footer-item-wrapper li:hover,
#footer .footer-item-social path:hover {
    color: var(--primary);
    fill: var(--primary);
}

#footer .footer-wrapper-bottom {
    background-color: rgba(154, 154, 154, 0.15);
    padding: 20px 0;
}