:root {
    --primary: #fd8712 !important;
    --primary-color-light: ffc600 !important;
    --secondary-color: #878787 !important;
    --black: #000000;
    --white: #ffffff;
}

@font-face {
    font-family: Poppins-light;
    src: url('../font/Poppins-Light.ttf');
}

@font-face {
    font-family: Poppins-medium;
    src: url('../font/Poppins-Medium.ttf');
}

@font-face {
    font-family: Poppins-semibold;
    src: url('../font/Poppins-SemiBold.ttf');
}

body {
    font-family: Poppins-medium !important;
}

h1,h2,h3,h4,h5,h5 {
    font-family: Poppins-medium !important;
}

/* Navbar */

#navbar {
    padding-top: 30px;
    padding-bottom: 50px;
}

#navbar .navbar-brand {
    font-size: 24px;
}

#navbar .navbar-brand.active {
    color: var(--primary);
}

#navbar .nav-link, 
.navbar-brand {
    color: var(--black);
}

#navbar .nav-link:hover {
    color: var(--primary);
}

#navbar .nav-link.active {
    color: var(--primary);
}

#navbar .nav-link.auth{
    padding: unset;
}

/* Hero */

#hero {
    position: relative;
}

#hero .hero-img {
    padding: unset;
    object-fit: cover;
    object-position: center;
    border-radius: 32px;
    max-height: 526px;
    filter: brightness(0.70);
    margin-top: 40px;
}

#hero .hero-text-wrapper {
    position: absolute;
    min-width: max-content;
    gap: 16px;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--white);
}

#hero .hero-title {
    font-size: 60px;
}

#hero .hero-subtitle {
    font-size: 24px;
}

#hero .hero-form {
    position: absolute;
    z-index: 2;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--white);
    border-radius: 24px;
    box-shadow: 0px 7px 30px rgba(0, 0, 0, 0.15);   
}

#hero .hero-input-wrapper {
    padding: 24px 32px;
    gap: 8px;

    #location {
        border: unset;
    }

    #location::placeholder {
        font-size: 12px;
    }

    #filter {
        border: unset;
    }

    #filter::placeholder {
        font-size: 12px;
    }
}

#hero .hero-input-wrapper label {
    font-size: 18px;
}




